body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(235, 235, 235);
}

.name-color{
    color: #35a0f2;
}
h1{
    font-size: 50px;
}
.half-width{
    width: 40%;
    float: left;
    padding: 5%;
}
.photo{
    width: 100%;
}